<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catloon - The High Flying Cat(BETA)</title>
    <link rel="stylesheet" href="/minigame/style.css"> 
</head>
<body>
    <div id="game-container">
        <canvas id="gameCanvas" width="320" height="480"></canvas>
        <div id="ui-layer">
            <div id="score">0</div>
            <div id="start-message">Tap or Space to Float!</div>
            <button id="restart-btn" class="hidden">Play Again</button>
            <button id="back-port">Back To Portfolio</button>
        </div>
    </div>
    <script src="/minigame/script.js"></script>
</body>
</html>